# Xcode
.DS_Store
*.xcodeproj
!MyAwesomePackageDemo/MyAwesomePackageDemo.xcodeproj # Keep your demo project
*.xcworkspace
*.playground
xcuserdata/
DerivedData/

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# Dependencies
Pods/
Carthage/Build/

# Misc
.localized
